# Data Processing
- 변수 확인 data.astpyes
- 변수를 범주형으로 변경
    - data['칼럼명'].astype('category')
- 변수를 수치형으려 변경
    - data['칼럼명'].astype('int')
- NA 값의 처리
    -

In [2]:
import pandas as pd

data  = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris2.csv')
data.head()

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

품종을 수치형 데이터로 인지함
- get_dummies 는 **카테고리** 이거나 **object 타입**의 col 만 one-hot encoding 시킴

In [4]:
print(data.dtypes)  #data type
encoding = pd.get_dummies(data)
encoding.head()

꽃잎길이     float64
꽃잎폭      float64
꽃받침길이    float64
꽃받침폭     float64
품종         int64
dtype: object

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종
0   5.1  3.5    1.4   0.2   0
1   4.9  3.0    1.4   0.2   0
2   4.7  3.2    1.3   0.2   0
3   4.6  3.1    1.5   0.2   0
4   5.0  3.6    1.4   0.2   0

In [10]:
data['품종'] = data['품종'].astype('category')      # int to category data
print(data.dtypes)
data = pd.get_dummies(data)
data.head()

꽃잎길이      float64
꽃잎폭       float64
꽃받침길이     float64
꽃받침폭      float64
품종       category
dtype: object

   꽃잎길이  꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
0   5.1  3.5    1.4   0.2     1     0     0
1   4.9  3.0    1.4   0.2     1     0     0
2   4.7  3.2    1.3   0.2     1     0     0
3   4.6  3.1    1.5   0.2     1     0     0
4   5.0  3.6    1.4   0.2     1     0     0

In [16]:
# NA check
data.isna().sum()
# NA값에  꽃잎 폭 평균값 넣어줌
mean = data['꽃잎폭'].mean()
data['꽃잎폭'] = data['꽃잎폭'].fillna(mean)
data.tail()

     꽃잎길이       꽃잎폭  꽃받침길이  꽃받침폭  품종_0  품종_1  품종_2
145   6.7  3.000000    5.2   2.3     0     0     1
146   6.3  2.500000    5.0   1.9     0     0     1
147   6.5  3.000000    5.2   2.0     0     0     1
148   6.2  3.400000    5.4   2.3     0     0     1
149   5.9  3.054362    5.1   1.8     0     0     1