# 머신러닝야학 첫번째 실습
이번 실습에서는 Pandas를 이용한 활용 방법에 대해 배운다.
- 이번 실습해서 실습할 내용들
    - 파일 불러오기
    - 모양 확인하기
    - 칼럼 선택하기
    - 칼럼 이름 출력하기
    - 맨 위 5개 확인하기

In [9]:
import pandas as pd

In [10]:
#  데이터 읽어오는 부분
Lemonade = pd.read_csv("https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv")

Boston = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/boston.csv')
 
Iris = pd.read_csv('https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/iris.csv')

In [11]:
# data의 shape 확인하기
# (행 갯수, 열 갯수)
print(Lemonade.shape)
print(Boston.shape)
print(Iris.shape)

(6, 2)
(506, 14)
(150, 5)

In [12]:
# 칼럼 이름 출력
print(Lemonade.columns)
print(Boston.columns)
print(Iris.columns)

Index(['온도', '판매량'], dtype='object')
Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'b', 'lstat', 'medv'],
      dtype='object')
Index(['꽃잎길이', '꽃잎폭', '꽃받침길이', '꽃받침폭', '품종'], dtype='object')

In [15]:
# 독립 변수와 종속 변수 분리하기
독립변수 = Lemonade[["온도"]]
종속변수 = Lemonade[["판매량"]]
print(독립변수.shape, 종속변수.shape)

# .head() 옵션을 이용하여 상위 5개의 데이터 출력하기
Lemonade.head()
Boston.head()

(6, 1) (6, 1)

      crim    zn  indus  chas    nox  ...  tax  ptratio       b  lstat  medv
0  0.00632  18.0   2.31     0  0.538  ...  296     15.3  396.90   4.98  24.0
1  0.02731   0.0   7.07     0  0.469  ...  242     17.8  396.90   9.14  21.6
2  0.02729   0.0   7.07     0  0.469  ...  242     17.8  392.83   4.03  34.7
3  0.03237   0.0   2.18     0  0.458  ...  222     18.7  394.63   2.94  33.4
4  0.06905   0.0   2.18     0  0.458  ...  222     18.7  396.90   5.33  36.2

[5 rows x 14 columns]