### Convolution Layers

In [1]:
import tensorflow as tf
import pandas as pd

In [3]:
#데이터 준비 -> CNN 은 data를 4차원으로 맞춰 주어야 함
(train_x, train_y), _ = tf.keras.datasets.mnist.load_data()
train_x = train_x.reshape(60000, 28, 28, 1) 
train_y = pd.get_dummies(train_y)
print(train_x.shape, train_y.shape)

(60000, 28, 28, 1) (60000, 10)

In [6]:
# 모델 만들기
X = tf.keras.layers.Input(shape = [28,28,1])
H = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(X)
H = tf.keras.layers.Conv2D(5, kernel_size=5, activation='swish')(H)
H = tf.keras.layers.Flatten()(H)
H = tf.keras.layers.Dense(84, activation='swish')(H)
Y = tf.keras.layers.Dense(10, activation='softmax')(H)
model = tf.keras.models.Model(X, Y)
model.compile(loss = 'categorical_crossentropy', metrics = 'accuracy')

In [9]:
model.fit(train_x, train_y, epochs = 10)

Epoch 1/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.1268 - accuracy: 0.9658
Epoch 2/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0775 - accuracy: 0.9790
Epoch 3/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0592 - accuracy: 0.9841
Epoch 4/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0461 - accuracy: 0.9882
Epoch 5/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0406 - accuracy: 0.9887
Epoch 6/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0313 - accuracy: 0.9912
Epoch 7/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0266 - accuracy: 0.9923
Epoch 8/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0249 - accuracy: 0.9931
Epoch 9/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0220 - accuracy: 0.9941
Epoch 10/10
1875/1875 [==============================] - 7s 4ms/step - loss: 0.0235 - accuracy: 0.9943

In [12]:
# 모델 이용
pred = model.predict(train_x[0:5])
pd.DataFrame(pred).round(2)

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [11]:
model.summary()

Model: "model_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_2 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 24, 24, 3)         78
_________________________________________________________________
conv2d_3 (Conv2D)            (None, 20, 20, 5)         380
_________________________________________________________________
flatten_1 (Flatten)          (None, 2000)              0
_________________________________________________________________
dense_2 (Dense)              (None, 84)                168084
_________________________________________________________________
dense_3 (Dense)              (None, 10)                850
=================================================================
Total params: 169,392
Trainable params: 169,392
Non-trainable params: 0
_________________________________________________________________